.list {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 16 px;
}

.list .header {
  color: #1976d2;
}

.list-item a {
  text-decoration: none;
  color: darkcyan;
}

.list-item a:hover,
.list-item a:focus {
  color: #ff4081;
  text-decoration: underline;
}
